.logo1 {
    background-image: url('../img/logo/logo-2x-101.png');
    background-size: 190px 55px;
    background-position: center;
}
.logo2 {
    background-image: url('../img/logo/logo-2x-102.png');
    background-size: 190px 55px;
}
.logo3 {
    background-image: url('../img/logo/logo-2x-103.png');
    background-size: 190px 55px;
}
.logo4 {
    background-image: url('../img/logo/logo-2x-104.png');
    background-size: 190px 55px;
}
.logo5 {
    background-image: url('../img/logo/logo-2x-105.png');
    background-size: 190px 55px;
}
.logo6 {
    background-image: url('../img/logo/logo-2x-106.png');
    background-size: 190px 55px;
}
.logo7 {
    background-image: url('../img/logo/logo-2x-107.png');
    background-size: 190px 55px;
}
.logo8 {
    background-image: url('../img/logo/logo-2x-108.png');
    background-size: 190px 55px;
}
.logo9 {
    background-image: url('../img/logo/logo-2x-109.png');
    background-size: 190px 55px;
}
.logo10 {
    background-image: url('../img/logo/logo-2x-110.png');
    background-size: 190px 55px;
}
.logo11 {
    background-image: url('../img/logo/logo-2x-111.png');
    background-size: 190px 55px;
}
.logo12 {
    background-image: url('../img/logo/logo-2x-112.png');
    background-size: 190px 55px;
}
.logo13 {
    background-image: url('../img/logo/logo-2x-113.png');
    background-size: 190px 55px;
}
.logo14 {
    background-image: url('../img/logo/logo-2x-114.png');
    background-size: 190px 55px;
}
.logo15 {
    background-image: url('../img/logo/logo-2x-115.png');
    background-size: 190px 55px;
}
.logo16 {
    background-image: url('../img/logo/logo-2x-116.png');
    background-size: 190px 55px;
}
.logo17 {
    background-image: url('../img/logo/logo-2x-117.png');
    background-size: 190px 55px;
}
.logo18 {
    background-image: url('../img/logo/logo-2x-118.png');
    background-size: 190px 55px;
}
.logo19 {
    background-image: url('../img/logo/logo-2x-119.png');
    background-size: 190px 55px;
}
.logo20 {
    background-image: url('../img/logo/logo-2x-120.png');
    background-size: 190px 55px;
}
.logo21 {
    background-image: url('../img/logo/logo-2x-121.png');
    background-size: 190px 55px;
}
.logo22 {
    background-image: url('../img/logo/logo-2x-122.png');
    background-size: 190px 55px;
}
.logo23 {
    background-image: url('../img/logo/logo-2x-123.png');
    background-size: 190px 55px;
}
.logo24 {
    background-image: url('../img/logo/logo-2x-124.png');
    background-size: 190px 55px;
}
.logo25 {
    background-image: url('../img/logo/logo-2x-125.png');
    background-size: 190px 55px;
}
.logo26 {
  background-image: url('../img/logo/logo-2x-126.png');
  background-size: 190px 55px;
}
.logo27 {
  background-image: url('../img/logo/logo-2x-127.png');
  background-size: 190px 55px;
}
.logo28 {
  background-image: url('../img/logo/logo-2x-128.png');
  background-size: 190px 55px;
}
.logo29 {
  background-image: url('../img/logo/logo-2x-129.png');
  background-size: 190px 55px;
}
.logo30 {
  background-image: url('../img/logo/logo-2x-130.png');
  background-size: 190px 55px;
}
.logo31 {
  background-image: url('../img/logo/logo-2x-131.png');
  background-size: 190px 55px;
}
.logo32 {
  background-image: url('../img/logo/logo-2x-132.png');
  background-size: 190px 55px;
}
.logo33 {
  background-image: url('../img/logo/logo-2x-133.png');
  background-size: 190px 55px;
}
.logo34 {
  background-image: url('../img/logo/logo-2x-134.png');
  background-size: 190px 55px;
}
.logo35 {
  background-image: url('../img/logo/logo-2x-135.png');
  background-size: 190px 55px;
}
.logo36 {
  background-image: url('../img/logo/logo-2x-136.png');
  background-size: 190px 55px;
}
.logo37 {
  background-image: url('../img/logo/logo-2x-137.png');
  background-size: 190px 55px;
}
.logo38 {
  background-image: url('../img/logo/logo-2x-138.png');
  background-size: 190px 55px;
}
.logo39 {
  background-image: url('../img/logo/logo-2x-139.png');
  background-size: 190px 55px;
}
.logo40 {
  background-image: url('../img/logo/logo-2x-140.png');
  background-size: 190px 55px;
}
.logo41 {
  background-image: url('../img/logo/logo-2x-141.png');
  background-size: 190px 55px;
}
.logo42 {
  background-image: url('../img/logo/logo-2x-142.png');
  background-size: 190px 55px;
}
.logo43 {
  background-image: url('../img/logo/logo-2x-143.png');
  background-size: 190px 55px;
}
.logo44 {
  background-image: url('../img/logo/logo-2x-144.png');
  background-size: 190px 55px;
}
.logo45 {
  background-image: url('../img/logo/logo-2x-145.png');
  background-size: 190px 55px;
}
.logo46 {
  background-image: url('../img/logo/logo-2x-146.png');
  background-size: 190px 55px;
}
.logo47 {
  background-image: url('../img/logo/logo-2x-147.png');
  background-size: 190px 55px;
}
.logo48 {
  background-image: url('../img/logo/logo-2x-148.png');
  background-size: 190px 55px;
}
.logo49 {
  background-image: url('../img/logo/logo-2x-149.png');
  background-size: 190px 55px;
}

.logo50 {
  background-image: url('../img/logo/logo-2x-150.png');
  background-size: 190px 55px;
}

.logo51 {
  background-image: url('../img/logo/logo-2x-151.png');
  background-size: 190px 55px;
}

.logo52 {
  background-image: url('../img/logo/logo-2x-152.png');
  background-size: 190px 55px;
}

.logo53 {
  background-image: url('../img/logo/logo-2x-153.png');
  background-size: 190px 55px;
}

.logo54 {
  background-image: url('../img/logo/logo-2x-154.png');
  background-size: 190px 55px;
}

.logo55 {
  background-image: url('../img/logo/logo-2x-155.png');
  background-size: 190px 55px;
}

