.video-tutorial-wrap {
    padding-bottom: 100px;
    font-family: PingFangSC-Light, Microsoft YaHei, Segoe UI, Lucida Grande, Helvetica, Arial, FreeSans, Arimo, Droid Sans, wenquanyi micro hei, Hiragino Sans GB, Hiragino Sans GB W3, sans-serif;
}

.video-tutorial-wrap .content {
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 100px;
    
}

.video-tutorial-wrap .title {
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    color: #333
}

.video-tutorial-wrap .sub-title {
    font-size: 14px;
    line-height: 14px;
    color: #666;
    margin-top: 12px
}

.video-tutorial-wrap .vedio-content {
    margin-top: 19px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.video-tutorial-wrap .vedio-content>* {
    height: 540px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .05)
}

.video-tutorial-wrap .video-tag {
    width: 864px;
    outline: none
}

.video-tutorial-wrap .video-list {
    padding: 20px;
    width: 300px;
    padding-bottom: 0;
}

.video-tutorial-wrap .video-list .list-title {
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    border-bottom: 1px solid #e9e9e9;
    padding-bottom: 16px;
}

.video-tutorial-wrap .video-list ul {
    max-height: calc(100% - 49px);
    overflow-y: auto
}

.video-tutorial-wrap .video-list li {
    display: block;
    color: #333;
    height: 36px;
    line-height: 36px;
    font-size: 14px;
    margin-top: 10px;
    padding-left: 38px;
    border-radius: 2px;
    background: url("../img/video-icon.png") no-repeat left 10px center/18px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.video-tutorial-wrap .video-list li:hover {
    background-color: #f5f5f5;
    cursor: pointer;
}

.video-tutorial-wrap .video-list li.active {
    color: #fff;
    background-color: #FC790D;
    background-image: url("../img/video-icon-active.png");
}